body{
    margin: 0;
    padding: 0;
    background: url("../images/charity2.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.transparent_btn {
	display: inline-block;
	padding: 10px 14px;
	color: #FFF;
	border: 1px solid #FFF;
	text-decoration: none;
	font-size: 14px;
	line-height: 120%;
	background-color: rgba(255,255,255, 0);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: background-color 300ms ease;
	-moz-transition: background-color 300ms ease;
	transition: background-color 300ms ease;
	cursor: pointer;
}
.transparent_btn:hover {
	background-color: rgba(255,255,255, 0.3);
	color: #FFF;
}

/* Orange Button */
.transparent_btn.orange {
	color: #ffc65d;
	border-color: #ffc65d;
}
.transparent_btn.orange:hover {
	background-color: rgba(255, 198, 93, 0.3);
}

/* Blue Button */
.transparent_btn.blue {
	color: #aeddf5;
	border-color: #aeddf5;
}
.transparent_btn.blue:hover {
	background-color: rgba(174, 221, 245, 0.3);
}

/* Green Button */
.transparent_btn.green {
	color: #86ec93;
	border-color: #86ec93;
}
.transparent_btn.green:hover {
	background-color: rgba(134, 236, 147, 0.3);
}































































