body{
	background:url(../images/cd3.jpg) no-repeat center
	fixed;
	background-size:cover;
}
#category_Id
{
    width:50%;
	padding: 5px;
	border-radius:5 px;
	border:1px solid white;
	outline:0;
	font-family:serif;
	font-size:18px;
	background:none;
	color:white;	
}
#cate_id{
	width:50%;
	padding: 6px;
	border-radius:5 px;
	border:1px solid white;
	outline:0;
	font-family:serif;
	font-size:18px;
	background:none;
	color:white;
}
#fundrequest_id{
	width:50%;
	padding: 6px;
	border-radius:5 px;
	border:1px solid white;
	outline:0;
	font-family:serif;
	font-size:18px;
	background:none;
	color:white;
}
#donor_id{
	width:50%;
	padding: 6px;
	border-radius:5 px;
	border:1px solid white;
	outline:0;
	font-family:serif;
	font-size:18px;
	background:none;
	color:white;
}
#amount
{
	 width:50%;
	padding: 6px;
	border-radius:5 px;
	border:1px solid white;
	outline:0;
	font-family:serif;
	font-size:18px;
	background:none;
	color:white;
}
.button{
	width:80px;
	padding:5px;
	font-family:serif;
	font-size:18px;
	border:1px solid white;
	outline:0;
	border-radius:5px;
	background:none;
}
.button:hover{
	background:#123456;
}
.transparent_btn {
	color: #aeddf5;
	border-color: white;
	padding: 10px 14px;
}
.transparent_btn {
	display: inline-block;
	
	color: #FFF;
	border: 1px solid #FFF;
	text-decoration: none;
	font-size: 14px;
	line-height: 120%;
	background-color: rgba(255,255,255, 0);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: background-color 300ms ease;
	-moz-transition: background-color 300ms ease;
	transition: background-color 300ms ease;
	cursor: pointer;
}
.transparent_btn:hover {
	background-color: rgba(255,255,255, 0.3);
	color: #FFF;
}
.registration{
	margin:auto;
	width: 40%;
	height:400;
	text-align: center;
	color :white;
	background: rgba(0,0,0,0.5);
	border: 2px solid white;
	padding: 15px;
}